{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa, illo omnis molestias id non aliquid reprehenderit! Veniam vitae, laudantium accusamus dolore qui, corrupti omnis quam non ea ut porro ex?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iste, mollitia optio sint provident nam voluptatum quis, aliquid facilis, consectetur quod odio! Ratione nobis, sed quisquam vel possimus porro voluptatibus. Porro, illum soluta? Excepturi, officiis aliquam. Ea voluptates accusamus omnis ex qui dolor ipsum dolorum, eius aliquid sequi aperiam atque?</p>

</div>

{% endblock content %}